[submodule "alacritty/.config/alacritty/alacritty-theme"]
	path = alacritty/.config/alacritty/alacritty-theme
	url = https://github.com/eendroroy/alacritty-theme.git
[submodule "kitty/.config/kitty/kitty-themes"]
	path = kitty/.config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
[submodule "GK6X/GK6X"]
	path = GK6X/GK6X
	url = https://github.com/pixeltris/GK6X.git
